<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.choleece.bing.ums.mapper.SysUserMapper">

    <select id="getUserByUsername" resultType="cn.choleece.bing.ums.entity.SysUser">
        SELECT su.id, su.username, su.password, su.status, su.salt, sur.role_id
        FROM sys_user su
        INNER JOIN sys_user_role sur on sur.user_id = su.id
        WHERE su.username = #{usernmae}
    </select>

</mapper>